
# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Flask
instance/

# PostgreSQL / DB
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Flask
instance/

# PostgreSQL / DB
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/